html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #198754;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 100;
}

.cards {
    gap: 32px;
}

.card-settings {
    width: 80%;
    margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev {
    width: 30%;
}

.refer {
    background-color: rgba(var(--bs-tertiary-bg-rgb)) !important;
    margin: 0 auto;
    width: 24rem !important;
}

.fugure__blockquote {
    max-width: 60%;
    margin: 0 auto;
}

.card-article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* .card>.list-group:last-child {
    border-radius: 0 0 var(--bs-card-inner-border-radius) var(--bs-card-inner-border-radius);
} */

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.about-text {
    width: 80%;
}

.about__card {
    align-items: center;
    display: flex;
}

.btn-primary {
    --bs-btn-bg: #198754;
    --bs-btn-border-color: #198754;
    --bs-btn-hover-bg: #198754;
    --bs-btn-hover-border-color: #198754;
    --bs-btn-active-bg: #198754;
    --bs-btn-active-border-color: #198754;
    --bs-btn-disabled-bg: #198754;
    --bs-btn-disabled-border-color: #198754;
}

.product-card {
    padding-right: 0;
    padding-left: 0;
}

.about__popup {
    position: fixed;
    background: #ffffff;
    top: 56px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
    padding-bottom: 5rem;
}

.display-none {
    display: none;
}

/* .display-block {
    display: block;
} */
.article__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.article__img-big {
    width: 60%;
    margin: 0 auto;
}

.text-article {
    text-align: left;
}

.text-article:last-child {
    align-self: flex-start;
}

.close__icon {
    cursor: pointer;
    /* position: absolute;
    right: 5vw;
    top: 3vh; */
}

.contacts__form {
    text-align: left;
    max-width: 574px;
    margin: 0 auto;
}

.form-check-input:checked {
    background-color: #198754;
    border-color: #198754;
}

.form-select {
    --bs-form-select-bg-img: none;
}

.navbar-toggler:focus,
.form-select:focus,
.form-select:focus-visible,
.form-control:focus,
.form-control:focus-visible {
    border-color: #198754;
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(13, 253, 85, 0.25);
}

.nav-color,
.nav-color:hover,
.nav-color:visited {
    color: #198754;
}

.content {
    flex: 1 0 auto;
}

.submit {
    transition: 0.3s;
}

.submit:hover {
    background-color: #fff;
    color: #198754;
}

footer {
    background-color: #dde8dd87;
    flex-shrink: 0;
}

.footer-text {
    text-align: center;
}

/* ====================== */
.toggle {
    cursor: pointer;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    margin: 0 auto 1rem;
}

.toggle-switch {
    display: inline-block;
    background: #dde8dd87;
    border-radius: 16px;
    width: 58px;
    height: 32px;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;
}

.toggle-switch:before,
.toggle-switch:after {
    content: "";
}

.toggle-switch:before {
    display: block;
    background: linear-gradient(to bottom, #fff 0%, #eee 100%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
    width: 24px;
    height: 24px;
    position: absolute;
    top: 4px;
    left: 4px;
    transition: left 0.25s;
}

.toggle:hover .toggle-switch:before {
    background: linear-gradient(to bottom, #fff 0%, #fff 100%);
    box-shadow: 0 0 0 1px #198754;
}

.toggle-checkbox:checked+.toggle-switch {
    background: #198754;
}

.toggle-checkbox:checked+.toggle-switch:before {
    left: 30px;
}

.toggle-checkbox {
    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 5px;
    position: relative;
    top: 2px;
}

/* ======================= */
.settings__text {
    max-width: 80%;
    margin: 0 auto 1rem;
    border-bottom: 1px solid #201f1f21;
    padding-bottom: 1rem;
}

.settings__toggles {
    list-style-type: none;
    padding: 0;
}

/* ==========DARK THEME============= */
.dark-theme__dark-background-body {
    background: #051622 !important;
}

.dark-theme__dark-background-navbar {
    background: rgb(2, 8, 13) !important;
}

.dark-theme__dark-background-footer {
    background: rgb(0, 5, 9) !important;
}

.dark-theme__color-blue {
    color: #1ba098 !important;
}

.dark-theme__color-beige {
    color: #ddd2bd !important;
    /* #deb992 */
    /* #e1d4c5 */
}

/* ============BIG FONT=========== */
.body__big-font {
    font-size: 1.2rem !important;
}

@media(max-width: 960px) {
    .fugure__blockquote {
        max-width: 80%;
    }
}

@media(max-width: 575px) {

    .carousel-control-next,
    .carousel-control-prev {
        width: 15%;
    }

    .carousel-img {
        width: 100%;
    }

    .about-text {
        width: 100%;
    }

    .card-settings,
    .product-card {
        width: 94%;
    }

    .refer {
        width: 94% !important;
    }

    .fugure__blockquote {
        max-width: 90%;
    }
}